@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
    border-bottom: 1px solid #fafafa;
}

.chat__details {
    flex: 1;
    alignment: left;
    alignment-baseline: before-edge;
    align-content: center;
    color: lightgray;
}

.chat__details > p {
    color: gray;
}
.chat__timestamp {
    color: lightgray;
}
